:root {
	--bg-color: #333333;
	--bg-color: #242e33;
	--bg-color: #282623;
	--fg-color: #FFF;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
}

a {
	text-decoration: none !important;
	color: #5fcde6;
}

a:hover {
	text-decoration: none;
	color: #87e6fc;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

a:active {
	color: #5fcde6;
}

/*
a:visited:not(:hover) {
	color: #39a3ba;
}*/

.text-muted {
	color: #CCC !important;
}

.jumbotron {
	background: url('../img/abstract-bw.jpg');
	background: rgba(0, 0, 0, 0);
	background-position: center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	position: relative;
	border-radius: 0;
	/*border-bottom: 2px solid rgba(255, 255, 255, 0.75);*/
}

.jumbotron .container {
	/*max-width: 40rem;*/
	text-shadow: 0 0 15px #000;
	position: static;
}

.jumbotron .container::before {
	content: '';
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--bg-color));
	opacity: 1;
	position: absolute;
}

.jumbotron .container::after {
	content: '';
	display: block;
	clear: both;
}

.jumbotron .lead {
	float: right;
	font-size: 1.75rem;
	position: relative;
	top: 0px;
}

footer {
	position: fixed;
	bottom: 0;
	padding: 2rem;
	text-align: center;
	width: 100%;
}

.footer::before {
	content: '';
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: linear-gradient(to top, var(--bg-color), rgba(0, 0, 0, 0) 25%);
	opacity: 1;
	position: absolute;
}

.nameplate {
	--font-size: 4rem;
	position: relative;
	float: left;
	font-weight: 300;
	font-size: var(--font-size);
	color: var(--fg-color);
}

.nameplate .material-icons {
	font-size: var(--font-size);
	position: relative;
	top: calc(var(--font-size) / 8);
}

.nameplate b {
	font-weight: 500;
}

.push-up {
	position: relative;
	top: -8px;
	left: 10px;
}

.push-down {
	position: relative;
	top: 8px;
	left: -10px;
}

.divider-slash {
	font-weight: 100;
	font-size: 3.75rem;
	line-height: 1em;
	position: relative;
	top: -0.1em;
	padding: 0 30px;
}

.divider-slash::after {
	content: '';
	display: inline-block;
	height: 75px;
	position: absolute;
	left: 30px;
	top: 15px;
	transform: rotate(20deg);
	border-left: 1px solid rgba(255, 255, 255, 0.75);
}

.block {
	padding: 0;
	margin-bottom: 3rem;
}

.block-title {
	text-align: center;
	margin-bottom: 1rem;
	text-shadow: 0 0 10px #000;
}

.block-title::after, .block-title::before {
	content: '\00A0\00A0——\00A0\00A0';
	color: rgba(255, 255, 255, 0.6);
}

.alt-block {
	--shadow-size: 2rem;
	background: #111;
	margin: 0;
	margin-bottom: 3rem;
	padding: 3rem 4rem;
	width: 110%;
	
	box-shadow: 0 var(--shadow-size) var(--shadow-size) calc(-1 * var(--shadow-size)) rgba(0, 0, 0, 0.75) inset, 0 calc(-1 * var(--shadow-size)) var(--shadow-size) calc(-1 * var(--shadow-size)) rgba(0, 0, 0, 0.75) inset;
}

.about {
	
}

.projects {
	position: relative;
	transition: left 0.5s;
	left: 0;
}

.project-card {
	background-color: #111;
	background: rgba(0, 0, 0, 0);
	border-radius: 0px;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 30px;
	transition: background 0.3s, box-shadow 0.3s, top 0.2s, left 0.2s;
}

.project-card:hover {
	top: -3px;
	left: -3px;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
	background: rgba(25, 25, 25, 0.9);
}

.project-card:active {
	top: 0;
	left: 0;
	box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.1s, box-shadow 0.1s, top 0.1s, left 0.1s;
}

.project-card img {
	position: relative;
	z-index: 2;
	transition: border 0.3s;
	border-radius: 6px;
	border: 6px solid rgba(20, 20, 20, 0.5);
}

.project-card:hover img {
	border: 6px solid rgba(0, 0, 0, 0);
}

.project-caption {
	transition: margin 0.3s;
	text-align: center;
	margin: 0;
	margin-top: -4rem;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.project-card:hover .project-caption {
	margin-top: 0;
}

.project-title {
	line-height: 4rem;
}

.project-details {
	display: none;
}