:root {
	--bg-color: #333333;
	--bg-color: #242e33;
	--bg-color: #282623;
	--fg-color: #FFF;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	padding-bottom: 6rem;
}

a, a:focus {
	text-decoration: none !important;
	color: #5fcde6;
}

a:hover {
	text-decoration: none;
	color: #87e6fc;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

a:active {
	color: #5fcde6;
}

/*a:visited:not(:hover) {
	color: #39a3ba;
}*/

.hidden {
	display: none;
}

.text-muted {
	color: #CCC !important;
}

.external-link:after {
	font-family: FontAwesome;
	content: '\f08e';
	position: relative;
	top: 1px;
	margin-left: 5px;
	font-size: 0.8em;
}

.live-site:before {
	content: 'Live Site';
	color: white;
	font-size: 0.7em;
	font-weight: bold;
	padding: 5px 10px;
	margin-right: 10px;
	background: rgba(20, 20, 20, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.jumbotron {
	background: url('../img/abstract-bw.jpg');
	background: rgba(0, 0, 0, 0);
	background-position: center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	position: relative;
	padding: 2rem;
	border-radius: 0;
	margin-bottom: 20px;
	/*border-bottom: 2px solid rgba(255, 255, 255, 0.75);*/
}

.jumbotron .container {
	/*max-width: 40rem;*/
	text-shadow: 0 0 15px #000;
	position: static;
	text-align: center;
}

@media (min-width: 992px) {
	.jumbotron .container {
		text-align: left;
	}
}

.jumbotron .container::before {
	content: '';
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--bg-color));
	opacity: 1;
	position: absolute;
}

.jumbotron .container::after {
	content: '';
	display: block;
	clear: both;
}

.jumbotron .lead {
	font-size: 1rem;
	position: relative;
	top: -0.5rem;
	margin: 0;
	margin-top: 1rem;
}

@media (min-width: 992px) {
	.jumbotron .lead {
		font-size: 1.4rem;
		margin: 0;
		float: right;
	}
}

@media (min-width: 1200px) {
	.jumbotron .lead {
		font-size: 1.75rem;
	}
}

.nameplate {
	--font-size: 4rem;
	position: relative;
	font-weight: 300;
	font-size: var(--font-size);
	color: var(--fg-color);
	margin: 0;
}

@media (min-width: 992px) {
	.nameplate {
		float: left;
	}
}

.nameplate b {
	font-weight: 500;
}

.push-up {
	position: relative;
	top: -20px;
	left: 15px;
}

.push-down {
	position: relative;
	top: -10px;
	left: -15px;
}

@media (min-width: 992px) {
	.push-up {
		top: -8px;
		left: 10px;
	}
	
	.push-down {
		top: 8px;
		left: -10px;
	}
}

.divider-slash {
	font-weight: 100;
	font-size: 3.75rem;
	line-height: 1em;
	position: relative;
	top: -0.1em;
	padding: 0 30px;
}

.divider-slash::after {
	content: '';
	display: inline-block;
	height: 50px;
	position: absolute;
	left: 30px;
	top: 15px;
	transform: rotate(20deg);
	border-left: 1px solid rgba(255, 255, 255, 0.75);
}

@media (min-width: 992px) {
	.divider-slash::after {
		height: 75px;
		left: 30px;
		top: 15px;
	}
}

.block {
	padding: 0;
	margin-bottom: 3rem;
}

.block-title {
	text-align: center;
	margin-bottom: 1.5rem;
	text-shadow: 0 0 10px #000;
}

.block-title::after, .block-title::before {
	content: '\00A0\00A0—\00A0\00A0';
	color: rgba(255, 255, 255, 0.6);
}

.alt-block {
	--shadow-size: 2rem;
	background: #111;
	margin: 0;
	margin-bottom: 3rem;
	padding: 3rem 4rem;
	width: 110%;
	
	box-shadow: 0 var(--shadow-size) var(--shadow-size) calc(-1 * var(--shadow-size)) rgba(0, 0, 0, 0.75) inset, 0 calc(-1 * var(--shadow-size)) var(--shadow-size) calc(-1 * var(--shadow-size)) rgba(0, 0, 0, 0.75) inset;
}

.about {
	display: none;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
	.about {
		max-width: 380px;
	}
}

.prof-pic {
	margin-bottom: 1rem;
	border-radius: 6px;
	border: 6px solid rgba(10, 10, 10, 0.5);
}

@media (min-width: 576px) and (max-width: 991px) {
	.prof-pic {
		margin-bottom: 0rem;
		margin-right: 1.5rem;;
		float: left;
	}
}

.links {
	margin: 2rem auto 0 auto;
	max-width: 260px;
}

.link-list {
	list-style-type: none;
	padding: 0;
}

.link-list li {
	margin-bottom: 15px;
}

.link-list .fa {
	margin-right: 25px;
	vertical-align: sub;
	width: 32px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.projects {
	display: none;
	position: relative;
	margin-bottom: 0;
}

.project-card {
	background-color: #111;
	background: rgba(0, 0, 0, 0);
	border-radius: 6px;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 15px;
	transition: background 0.3s, box-shadow 0.3s, top 0.2s, left 0.2s;
	overflow: hidden;
	cursor: pointer;
}

@media (min-width: 768px) {
	.project-card {
		margin-bottom: 30px;
	}
}

.project-card:hover {
	top: -3px;
	left: -3px;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
	background: rgba(25, 25, 25, 0.9);
}

.project-card:active {
	top: 0;
	left: 0;
	box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.1s, box-shadow 0.1s, top 0.1s, left 0.1s;
}

.project-card img {
	position: relative;
	z-index: 1;
	transition: border 0.3s;
	border-radius: 6px;
	border: 6px solid rgba(10, 10, 10, 0.5);
}

.project-card:hover img {
	border: 6px solid rgba(0, 0, 0, 0);
}

.project-caption {
	text-align: center;
	margin: 0;
	padding: 1rem 0;
}

@media (min-width: 768px) {
	.project-caption {
		background: rgba(20, 20, 20, 0.9);
		z-index: 2;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		position: absolute;
		top: 6px;
		left: 6px;
		transition: opacity 0.3s;
		opacity: 0;
	}
	
	
	.project-card:hover .project-caption {
		opacity: 1;
	}
	
	.project-title {
		text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
		background: rgba(20, 20, 20, 0);
		line-height: 6rem;
		height: 6rem;
		width: calc(100% - 12px);
		position: absolute;
		left: 6px;
		top: 50%;
		margin: 0;
		margin-top: -3rem;
		font-size: 30px;
	}
}

.details-block {
	display: none;
}

.project-details {
	display: none;
}

.project-details img {
	border-radius: 6px;
	border: 6px solid rgba(10, 10, 10, 0.5);
	margin-bottom: 1rem;
}

.icon-btn {
	background: transparent;
	border: none;
	outline: none;
	color: white;
	font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	height: 36px;
	font-size: 16px;
	margin: 0;
	left: 0;
	top: 0;
	transition: left 0.1s, top 0.1s, text-shadow 0.1s;
	position: relative;
}

.icon-btn:focus {
	outline: none;
}

.icon-btn:hover {
	left: -3px;
	top: -3px;
	text-shadow: 3px 3px 3px black;
}

.icon-btn:active {
	left: 0px;
	top: 0px;
	text-shadow: none;
}

.icon-btn .fa {
	margin-right: 10px;
}

.back-btn {
	margin: 0 auto 15px auto;
	display: block;
}

@media (min-width: 576px) {
	.back-btn {
		text-align: left;
		position: absolute;
		top: -3px;
		left: 15px;
	}
	
	.back-btn:hover {
		top: -6px;
		left: 12px;
	}
	
	.back-btn:active {
		top: -3px;
		left: 15px;
	}
}
